html, body{
    overflow: hidden;
}

.splash,
.splash * {
    box-sizing: border-box;
}

.splash {
    background: #ffffff;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    height: 932px;
    position: relative;
}

.startup-screen {
    background: #ffffff;
    width: 433px;
    height: 932px;
    position: absolute;
    left: calc(50% - 217px);
    top: 0px;
    overflow: hidden;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 20px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 138px;
    max-width: 150px;
}

.login {
    border: 2px solid #000000;
    border-radius: 25px;
    background-color: #ff4545;
    color: #e5eff8;
    font-family: "Poppins-Bold", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.sign-up {
    border: 2px solid #000000;
    border-radius: 25px;
    background-color: #ffffff;
    color: #ff4545;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.frame-11 {
    display: inline-block;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 72%;
    transform: translate(-50%, -50%);
}

.welcome-to-re-chef {
    color: #f80000;
    text-align: center;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 36px;
    font-weight: 600;
    opacity: 0.7;
    width: 292px;
}

.where-inspiration-meets-ingredients {
    color: #f80000;
    text-align: center;
    font-family: "Poppins-Medium", sans-serif;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.3;
    width: 292px;
}

.frame-8 {
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    left: 50%;
}

.logo {
    color: #ff0000;
    text-align: center;
    font-family: "Lufga-SemiBold", sans-serif;
    font-size: 30.05px;
    font-weight: 600;
    position: absolute;
}

.carousel {
    background: #ffffff;
    width: 428px;
    height: 341px;
    position: absolute;
    left: 50%;
    top: 30%;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.rectangle-15 {
    background: #ffffff;
    width: 1730px;
    height: 340px;
    position: absolute;
    left: 40px;
    top: 0px;
}

._6620564-5, ._6620564-2, ._6620564-52, ._6620564-3 {
    position: absolute;
    object-fit: cover;
}

._6620564-5 {
    width: 336px;
    height: 340px;
    left: calc(50% - 164px);
    top: 0px;
}

._6620564-2 {
    width: 305px;
    height: 340px;
    left: 536px;
    top: 0px;
}

._6620564-52 {
    width: 291px;
    height: 341px;
    left: 991px;
    top: 0px;
}

._6620564-3 {
    width: 338px;
    height: 340px;
    left: 1432px;
    top: 0px;
}

.status-bar {
    width: 430px;
    height: 59px;
    position: absolute;
    left: calc(50% - 216.5px);
    top: 0px;
}

.left-side {
    padding: 0px 0px 3px 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 59px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.status-bar-time {
    border-radius: 24px;
    width: 54px;
    height: 21px;
    position: relative;
}

#time {
    color: var(--black-dark, #000000);
    text-align: center;
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.32px;
    font-weight: 600;
    position: absolute;
    left: 0px;
    top: 1px;
    width: 54px;
    height: 20px;
}

.right-side {
    padding: 0px 11px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 134px;
    height: 59px;
    position: absolute;
    left: 315px;
    top: 0px;
}

.home-indicator {
    width: 430px;
    height: 34px;
    position: absolute;
    left: calc(50%);
}