html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.logo {
  font-family: "Lufga-SemiBold", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #ff0000;
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-body {
  padding: 2rem;
}

.btn-block {
  width: 100%;
}

.input-group-text {
  background-color: #fff;
  border-right: 0;
}

.form-control {
  border-left: 0;
}

.text-danger {
  color: #ff0000 !important;
}

.text-muted {
  opacity: 0.6;
}

@media (max-width: 768px) {
  
  h2 {
    font-size: 24px;
  }
  
  .card {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .input-group-text img,
  .btn-outline-danger img {
    width: 20px;
  }
  
  .form-control,
  .btn-block,
  .btn-outline-danger {
    font-size: 14px;
  }
  
  .text-muted {
    font-size: 14px;
  }
}
