{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'scan/style.css'%}">
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}"> 
  <title>Rechef Dev</title>
</head>
<body>
  <div class="container-fluid homepage">
    <div class="row">
      <div class="col-12">
        <div class="rectangle-16"></div>
      </div>
    </div>
    <div class="row">
    </div>

    <video id="video" height="700" autoplay class="video"></video>
    <canvas id="canvas" width="320" height="240"></canvas>
    <img class="shutter" src="{% static 'media/scan/shutter0.svg' %}" alt="Shutter" id="shutter">

      <div class="navbar-container">
        <a href="{%url 'home-pt'%}"><img src="{%static 'media/scan/home0.svg'%}" class="homeImage"></a>
        <a href="{%url 'scan'%}"><img src="{%static 'media/scan/scan1.svg'%}" class="scanImage"></a>
        <a href="#"><img src="{%static 'media/scan/reccipe0.svg'%}" class="bookMarkImage"></a>
      </div>
      
    </div>

    
  <script src="{%static 'js/bootstrap.bundle.min.js'%}"></script>
  <script>

    if ('mediaDevices' in navigator && 'getUserMedia' in navigator.mediaDevices) {
        console.log("ok, browser supports it");
    }

    navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                var video = document.getElementById('video');
                video.srcObject = stream;
                video.play();
            })
            .catch(function (error) {
                console.log("Error accessing camera: " + error);
            });

        document.getElementById('shutter').addEventListener('click', function () {
            var video = document.getElementById('video');
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');

            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            canvas.style.display = 'block';
        });
  </script>
</body>
</html>
